<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SMTP Bounce Notification</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!loggedInUser()"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bounce" *ngIf="loggedInUser()"
          >Bounce</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/complaint"
          routerLinkActive="active-link"
          *ngIf="loggedInUser()"
          >Complaint</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/delivery" *ngIf="loggedInUser()"
          >Delivery</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/signOut"
          (click)="signOut()"
          *ngIf="loggedInUser()"
          >SignOut</a
        >
      </li>
    </ul>
  </div>
</nav>
