<div class="card" style="width: 18rem">
  <div class="container">
    <ng-container *ngIf="!isConfirm">
      <div class="row">
        <h1>Register</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="userName">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="email"
              formControlName="email"
            />
            <span
              class="text-danger"
              *ngIf="
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.touched
              "
            >
              Please Enter a valid email
            </span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              formControlName="password"
            />
            <span
              class="text-danger"
              *ngIf="
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.touched
              "
            >
              please enter strong password
            </span>
          </div>
          <br />

          <div class="col d-grid">
            <button type="submit" class="btn btn-primary">SignUP</button>
            <a
              style="color: blue"
              routerLink="/login"
              style="text-decoration: none"
              >signIn</a
            >
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="isConfirm">
      <!-- <app-code></app-code> -->
      <div class="row">
        <h1>Code</h1>
        <form [formGroup]="registerForm" (ngSubmit)="confirmSignUp()">
          <div class="form-group">
            <label for="code">code</label>
            <input
              type="text"
              class="form-control"
              id="code"
              placeholder="code"
              formControlName="code"
            />
          </div>
          <div class="col d-grid">
            <button type="submit" class="btn btn-primary">code</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>
